h1        {
            position: absolute;
            width: 50%;
            left: 25%;
            background-color: red;
            text-align: center;
            font-size: 70px;
            margin-top: 0%;
          }

.App      {
            display: grid;
            position: absolute;
            width: 50%;
            left: 25%;
            grid-template-columns: repeat( auto-fit, minmax(225px, 1fr));
            padding-top: 100px;
            gap: 50px;
            height: 100vh;
            top: 5%;
          }

.MiniCard {
            display: grid;
            grid-template-columns: 1fr;
            background-color: lightcyan;
            border: solid;
            border-radius: 8%;
            border-color: 5px gray;
            min-width: 300px;
            min-height: 300px;
          }

.MiniCard img
          {
            width:  70%;
            height: auto;
            left: 35%;
            margin-top: -15%;
            margin-left: 15%;
            filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 1));
          }

.MiniCard span
          {
            font-size: 20px;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            text-shadow: 0px 0px 15px #fff;
            text-transform: uppercase;
          }

.MiniCard button,span
          {
            margin-top: -25%;
            height: 35px;
            width: 50%;
            margin: auto;
          }

.MiniCard button
          {
            color: white;
            width: 20%;
            background-color: black;
            border-radius: 50%;
          }
            
.MiniCard button:hover
          {
            width: 25%;
            font-size: 15px;
            color:yellow;
            border-color: red;
          }